<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Parcel Service</title>
  </head>
  <body>
    <div class="container">
      <form action="/show" method="post">
        <div class="">
          <label for="parcelL">Package Length:</label>
          <input id="parcelL" name="parcelL" type="text">
        </div>
        <div class="">
          <label for="parcelW">Package Width:</label>
          <input id="parcelW" name="parcelW" type="text">
        </div>
        <div class="">
          <label for="parcelH">Package Height:</label>
          <input id="parcelH" name="parcelH" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

    </div>
  </body>
</html>
