<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel Service</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the United States Postal Service</h1>
      <br>
      <h2>What would you like do to:</h2>
      <ul>
        <li><a href="Parcel/Add"></a>Add a package</li>
        <li><a href="Parcel/View">See all the packages</a></li>
        <li><a href="Parcel/Remove"></a>Remove all packages</li>
      </ul>

    </div>
  </body>
</html>
